#### Notebook to create script to use PLATZI API

In [44]:
!pip install requests
!pip install pandas

Requirement already satisfied: requests in c:\users\jaden\documents\jaden\projects\platzi-pipeline\.venv\lib\site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\jaden\documents\jaden\projects\platzi-pipeline\.venv\lib\site-packages (from requests) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jaden\documents\jaden\projects\platzi-pipeline\.venv\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jaden\documents\jaden\projects\platzi-pipeline\.venv\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jaden\documents\jaden\projects\platzi-pipeline\.venv\lib\site-packages (from requests) (2025.8.3)

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/28/30/8114832daff7489f179971dbc1d854109b7f4365a546e3ea75b6516cea95/pandas-2.3.2-cp312-cp312-win_amd64.whl.metadata
  Downloading pandas-2.3.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Obtaining dependency information for numpy>=1.26.0 from https://files.pythonhosted.org/packages/32/ee/de999f2625b80d043d6d2d628c07d0d5555a677a3cf78fdf868d409b8766/numpy-2.3.3-cp312-cp312-win_amd64.whl.metadata
  Downloading numpy-2.3.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.9 kB ? eta -:--:--
     ------------------------------- ------ 51.2/60.9 kB 871.5 kB/s eta 0:00:01
     ------------------------------- ------ 51.2/60.9 kB 871.5 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 359.5 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jaden\documents\jaden\projects\platzi-pipeline\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/81/c4/34e93fe5f5429d7570ec1fa436f1986fb1f00c3e0f43a589fe2bbcd22c3f/pytz-2025.2-py2.py3-none-any.whl.metadata
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/5c/23/c7abc0ca0a1526a0774eca151daeb8de62ec457e77262b66b359c3c7679e/tzdata-2025.2-py2.py3-none-any.whl.metadata
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\jaden\documents\jaden\projects\platzi-pipeline\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.2/11.0 MB 3.1 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.0 MB 12.6 MB/s eta 0:00:01
   ---------- ----------------------------- 2.9/11.0 MB 23.4 MB/s eta 0:00:01
   ------------------- -------------------- 5.3/11.0 MB 30.7 MB/s eta 0:00:01
   ---------------------- ----------------- 6.2/11.0 MB 32.7 MB/s eta 0:00:01
   ---------------------- ----------------- 6.2/11.0 MB 23.3 MB/s eta 0:00:01
   ---------------------------------------  10.9/11.0 MB 43.5 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 38.4 MB/s eta 0:00:00
Downloading numpy-2.3.3-cp312-cp312-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   ------ --------------------------------- 1.9/12.8 MB 60.2 MB/s eta 0:00:01
   ------- -------------------------------- 2.3/12.8 MB 48.8 MB/s eta 0:00:01
   ------- -------------------------------- 2.3/12.8 MB 48.8 MB/s eta 0:00:01
   ------- -------------------------------- 2.3/12.8 MB 48.8 MB/s eta 0:00:01
   ----------------------- ---------------- 7.5/12.8 MB 36.9 MB/s eta 0:00:01
   --------------------------------- ------ 10.8/12.8 MB 43.7 MB/s eta 0:00:01
   ------------------------------------ --- 11.7/12.8 MB 43.7 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 65.6 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ---------------------------------------- 0.0/509.2 kB ? eta -:--:--
   --------------------------------------- 509.2/509.2 kB 16.1 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ---------------------------------------- 0.0/347.8 kB ? eta -:--:--
   --------------------------------------- 347.8/347.8 kB 22.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.3 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import requests
import pandas as pd
import random
from datetime import datetime, timedelta

In [2]:
product_url = "https://api.escuelajs.co/api/v1/products"
user_url = "https://api.escuelajs.co/api/v1/users"

In [3]:
def fetch_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    else:
        return {"error": "Failed to retrieve data"}

In [4]:
ex_product = fetch_data(product_url)
ex_product[0]

{'id': 2,
 'title': 'Classic Red Pullover Hoodie',
 'slug': 'classic-red-pullover-hoodie',
 'price': 11,
 'description': 'Elevate your casual wardrobe with our Classic Red Pullover Hoodie. Crafted with a soft cotton blend for ultimate comfort, this vibrant red hoodie features a kangaroo pocket, adjustable drawstring hood, and ribbed cuffs for a snug fit. The timeless design ensures easy pairing with jeans or joggers for a relaxed yet stylish look, making it a versatile addition to your everyday attire. (editado)',
 'category': {'id': 1,
  'name': 'Clothes',
  'slug': 'clothes',
  'image': 'https://i.imgur.com/QkIa5tT.jpeg',
  'creationAt': '2025-09-15T18:40:31.000Z',
  'updatedAt': '2025-09-15T18:40:31.000Z'},
 'images': ['https://i.imgur.com/1twoaDy.jpeg',
  'https://i.imgur.com/FDwQgLy.jpeg',
  'https://i.imgur.com/kg1ZhhH.jpeg'],
 'creationAt': '2025-09-15T18:40:31.000Z',
 'updatedAt': '2025-09-15T18:43:33.000Z'}

In [5]:
ex_user = fetch_data(user_url)
ex_user[0]

{'id': 1,
 'email': 'john@mail.com',
 'password': 'changeme',
 'name': 'Jhon',
 'role': 'customer',
 'avatar': 'https://i.imgur.com/LDOO4Qs.jpg',
 'creationAt': '2025-09-15T18:40:31.000Z',
 'updatedAt': '2025-09-15T18:40:31.000Z'}

### Extract useful information - Product

id should be renamed to product_id, and the id within category should be renamed to category_id as it is likely a foreign key.

Title and slug are redundant, and since I do not plan to display products, slug will be discarded.

Only the first image link will be used, in case I the need to display the product arises.

There are two pairs of created and updated, so one pair will be removed.

In [6]:
ex_product_cleaned = {
    'product_id': ex_product[0]['id'],
    'category_id': ex_product[0]['category']['id'],
    'title': ex_product[0]['title'],
    'price': ex_product[0]['price'],
    'description': ex_product[0]['description'],
    'creationAt': ex_product[0]['creationAt'],
    'updatedAt': ex_product[0]['updatedAt']
}

In [7]:
ex_product_cleaned

{'product_id': 2,
 'category_id': 1,
 'title': 'Classic Red Pullover Hoodie',
 'price': 11,
 'description': 'Elevate your casual wardrobe with our Classic Red Pullover Hoodie. Crafted with a soft cotton blend for ultimate comfort, this vibrant red hoodie features a kangaroo pocket, adjustable drawstring hood, and ribbed cuffs for a snug fit. The timeless design ensures easy pairing with jeans or joggers for a relaxed yet stylish look, making it a versatile addition to your everyday attire. (editado)',
 'creationAt': '2025-09-15T18:40:31.000Z',
 'updatedAt': '2025-09-15T18:43:33.000Z'}

In [8]:
product_rows = []
product_images_rows = []

for p in ex_product:
    product_rows.append({
        'product_id': p['id'],
        'category_id': p['category']['id'],
        'title': p['title'],
        'price': p['price'],
        'description': p['description'],
        'creationAt': p['creationAt'],
        'updatedAt': p['updatedAt']
    })
    product_images_rows.append({
        'product_id': p['id'],
        'image': p['category']['image']
    })

df_products = pd.DataFrame(product_rows).drop_duplicates().set_index('product_id')
df_products.head()

,category_id,title,price,description,creationAt,updatedAt
product_id,,,,,,
2,1,Classic Red Pullover Hoodie,11,Elevate your casual wardrobe with our Classic ...,2025-09-15T18:40:31.000Z,2025-09-15T18:43:33.000Z
3,1,Classic Heather Gray Hoodie,89,Stay cozy and stylish with our Classic Heather...,2025-09-15T18:40:31.000Z,2025-09-15T18:44:08.000Z
4,1,Classic Grey Hooded Sweatshirt,90,Elevate your casual wear with our Classic Grey...,2025-09-15T18:40:31.000Z,2025-09-15T18:40:31.000Z
5,1,Classic Black Hooded Sweatshirt,99,Elevate your casual wardrobe with our Classic ...,2025-09-15T18:40:31.000Z,2025-09-15T18:44:19.000Z
6,1,Classic Comfort Fit Joggers,65,Discover the perfect blend of style and comfor...,2025-09-15T18:40:31.000Z,2025-09-15T18:44:15.000Z

In [ ]:
df_products_images = pd.DataFrame(product_images_rows).drop_duplicates()
df_products_images.head()

   product_id                             image
0           2  https://i.imgur.com/QkIa5tT.jpeg
1           3  https://i.imgur.com/QkIa5tT.jpeg
2           4  https://i.imgur.com/QkIa5tT.jpeg
3           5  https://i.imgur.com/QkIa5tT.jpeg
4           6  https://i.imgur.com/QkIa5tT.jpeg

This makes much more sense, and removes a lot of redundant information. However, it must be noted that within every product was a section for the category that the product was in, which means it should belong to another table as it would be redundant to keep the information of category which is more broad than the product.

This means another table, Category, will be created. 

Also note that there are images for products, as well as images in Category that are repeating groups of image links. It would be useful to separate the images from the other data, so two more tables should be created, one for Product Images, and then another for Category Images.

In [10]:
category_rows = []
category_images_rows = []

for p in ex_product:
    category_rows.append({
        'category_id': p['category']['id'],
        'name': p['category']['name']
    })
    category_images_rows.append({
        'category_id': p['category']['id'],
        'image': p['category']['image']
        })

df_category = pd.DataFrame(category_rows).drop_duplicates().reset_index(drop=True)
df_category

   category_id           name
0            1        Clothes
1            2    Electronics
2            3      Furniture
3            4          Shoes
4            5  Miscellaneous
5           42         string

In [ ]:
df_category_images = pd.DataFrame(category_images_rows).drop_duplicates().reset_index(drop=True)
df_category_images

   category_id                             image
0            1  https://i.imgur.com/QkIa5tT.jpeg
1            2  https://i.imgur.com/ZANVnHE.jpeg
2            3  https://i.imgur.com/Qphac99.jpeg
3            4  https://i.imgur.com/qNOjJje.jpeg
4            5   https://i.imgur.com/BG8J0Fj.jpg
5           42              https://pravatar.cc/

### Extract useful information - User

User information has a much more simple structure, and simply due to the nature of this project, I will drop password as I have no use for it, as well as the creationAt and updateAt columns since I have no use for time related information for so few entries.

The orders will be artificial so the dates will be arbitrary and so I will not use the dates.

I have also changed 'id' to 'user_id' for more clarity.

In [12]:
cleaned_user = {
'user_id': ex_user[0]['id'],
 'email': ex_user[0]['email'],
 'name':  ex_user[0]['name'],
 'role': ex_user[0]['role'],
 'avatar': ex_user[0]['avatar']
 }
cleaned_user

{'user_id': 1,
 'email': 'john@mail.com',
 'name': 'Jhon',
 'role': 'customer',
 'avatar': 'https://i.imgur.com/LDOO4Qs.jpg'}

In [ ]:
user_rows = []

for u in ex_user:
    user_rows.append({
        'user_id': u['id'],
        'name': u['name'],
        'email': u['email'],
        'role': u['role']
    })


user_df = pd.DataFrame(user_rows).drop_duplicates(subset=['email']).set_index('user_id')
user_df

                      name                     email      role
user_id
1                     Jhon             john@mail.com  customer
2                    Maria            maria@mail.com  customer
3                    Admin            admin@mail.com     admin
4                    esraa             esr@gmail.com  customer
5                 John Doe         johndoe@gmail.com  customer
11                    beko            beko@gmail.com     admin
12       Cathrine_Hamill65  Shany.Parisian@gmail.com     admin
13                 mohmmed            aaaa@gmail.com  customer
14                  Pamela       pams39424@gmail.com  customer

### Simulate Orders

I would like to simulate orders, so I will randomly select users and items to combine into their order, and randomly choose a date for it as well.

It would be useful to separate orders into Orders, and Order Items which details the items in each order.

##### Orders

* Each order will have an order_id, a user_id, and a total for the order, as well as the date the order was placed.

##### Order Items

* Each order has order items, which can be identified using order_item_id, order_id connecting to the order, and product_id connect to the product.
* Also a quantity, and a price.

In [ ]:
orders = []
order_items = []

order_id_counter = 1
order_item_id_counter = 1

for user_id in user_df.index:
    num_orders = random.randint(1, 5)
    for _ in range(num_orders):
        order_date = datetime.now() - timedelta(days=random.randint(1, 365))
        
        # build order
        orders.append({
            "order_id": order_id_counter,
            "user_id": user_id,
            "order_date": order_date
        })

        # add products to order
        products_sample = df_products.sample(random.randint(1, 5))
        for _, product in products_sample.iterrows():
            qty = random.randint(1, 3)
            unit_price = product.price
            order_items.append({
                "order_item_id": order_item_id_counter,
                "order_id": order_id_counter,
                "product_id": product.name,
                "quantity": qty,
                "unit_price": product.price,
                "line_total": qty * unit_price
            })
            order_item_id_counter += 1

        order_id_counter += 1

df_orders = pd.DataFrame(orders)
df_order_items = pd.DataFrame(order_items)

In [42]:
df_orders.head()

   order_id  user_id                 order_date
0         1        1 2025-08-05 16:28:15.649839
1         2        1 2025-02-21 16:28:15.650843
2         3        1 2025-09-07 16:28:15.650843
3         4        1 2024-11-26 16:28:15.650843
4         5        2 2025-02-25 16:28:15.652677

In [43]:
df_order_items.head()

   order_item_id  order_id  product_id  quantity  unit_price  line_total
0              1         1          43         3          17          51
1              2         1          60         2          20          40
2              3         1          38         3          27          81
3              4         1          63         2          77         154
4              5         2          19         2          44          88

## Validate Data

Now that the dataframes have been loaded, it is time to validate the data.

* Every product_id in order_items exists in products.
* Every user_id in orders exists in users.
* Every order_id in order_items exists in orders.

* Timestamps need to be converted to match form.
* Prices must be consistent.
* Remove white spaces and standardize text.

In [58]:
user_df.name.lower()

AttributeError: 'Series' object has no attribute 'lower'

In [50]:
df_products.head(2)

,category_id,title,price,description,creationAt,updatedAt
product_id,,,,,,
2,1,Classic Red Pullover Hoodie,11,Elevate your casual wardrobe with our Classic ...,2025-09-15T18:40:31.000Z,2025-09-15T18:43:33.000Z
3,1,Classic Heather Gray Hoodie,89,Stay cozy and stylish with our Classic Heather...,2025-09-15T18:40:31.000Z,2025-09-15T18:44:08.000Z

In [51]:
df_products_images.head(2)

   product_id                             image
0           2  https://i.imgur.com/QkIa5tT.jpeg
1           3  https://i.imgur.com/QkIa5tT.jpeg

In [52]:
df_category.head(2)

   category_id         name
0            1      Clothes
1            2  Electronics

In [53]:
df_category_images.head()

   category_id                             image
0            1  https://i.imgur.com/QkIa5tT.jpeg
1            2  https://i.imgur.com/ZANVnHE.jpeg
2            3  https://i.imgur.com/Qphac99.jpeg
3            4  https://i.imgur.com/qNOjJje.jpeg
4            5   https://i.imgur.com/BG8J0Fj.jpg